{% block header%}

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
            <a href="/"><h1><span>Masaki</span>News</h1></a>
        </div>
    </div>

    <div class="navbar-collapse collapse">
        <div class="menu">
            <ul class="nav nav-tabs" role="tablist">
                {#For each page content#}
                {% for menuTab in menuTabs %}
                    <li class="current first">
                        <a href="{{ menuTab.link }}">{{ menuTab.title }}</a>
                    </li>
                {% endfor %}

                {% if dropDown is defined and not dropDown is empty %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ dropDown.title_dropdown }}

                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if dropDown.children is defined and not dropDown.children is empty %}
                                {% for item in dropDown['children'] %}
                                    <a class="dropdown-item" href="{{ item.link }}">{{ item.descripcion }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </ul>

        </div>


    </div>

    {{ form_start(simpleSearchForm) }}
    {{ form_end(simpleSearchForm) }}

{% endblock %}