{% extends 'AppBundle::generalLayout.html.twig' %}

{% block title %}The latest{% endblock %}
{#{% block slider %}

    {{ include ('AppBundle:components:slider.html.twig') }}

{% endblock %}#}
{% block content %}
    <div class="services" style="margin-top: 50px">
        <div class="container">
            {% if pageData.titulo is defined and not pageData.titulo is empty %}

                <h3>{{ pageData.titulo }}</h3>
                <hr>
                <div class="col-md-12">

                    <p>{{ pageData.body }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="about" style="margin-top: 50px">
        <div class="container">
            {% if mainNew is defined and not mainNew is empty %}
                <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>{{ mainNew.getTitulo() }}</h2>
                    <p>The current version is {{ constant('Twig_Environment::VERSION') }}</p>

                    <img src="" class="img-responsive" />
                    <p>{{ mainNew.autor|upper}}</p>

                </div>

                <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <h3>{{ mainNew.getSubtitulo() }}</h3>
                    <p>{{ mainNew.getTexto() }}</p>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="lates">
        <div class="container">
            <div class="text-center">
                {% if blockNews is defined and not blockNews is empty %}


                <h2>Lates News</h2>

            </div>
            {% block blockNews %}

                {% if blockNews|length > 3 %}
                    {{ include ('AppBundle::line/threecolumns.html.twig') }}
                {% elseif blockNews|length > 2 %}
                    {{ include ('AppBundle::line/twocolumns.html.twig') }}
                {% else %}
                    {{ include ('AppBundle::line/onecolumn.html.twig') }}
                {% endif %}

            {% endblock %}


            {% endif %}

        </div>
    </div>
    <section id="contact-page">
        <div class="container">
            <div class="center">
                {% if pageData.labelText is defined and not pageData.labelText is empty %}
                <h2>{{ pageData.titulo }}</h2>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <div class="col-md-6 col-md-offset-3">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="{{ pageData.buttonActionPage }}" method="post" role="form" class="contactForm">

                        <div class="form-group">
                            <label for="{{ pageData.labelText }}"></label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="{{ pageData.labelText }}" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>


                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="{{ pageData.textArea }}"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">{{ pageData.buttonText }}</button></div>
                    </form>
                </div>
            </div>
            <!--/.row-->
        </div>
        {% endif %}
        <!--/.container-->
    </section>
    <!--/#contact-page-->


{% endblock %}