{% extends 'AppBundle::generalLayout.html.twig' %}

{% block title %}Our searches{% endblock %}
{% block content %}
    aquí les news segons autor i/o keyword
    {#{{ knp_menu_render('AppBundle:Builder:mainMenu') }}#}
{#    {{ dump(pager) }}#}
    {% for noticia in noticias %}
        <div class="container" style="margin-bottom: 50px">
            <div class="row">
                <div class="col-lg-12 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">{{ noticia.titulo }}
                            </h4>
                            <h2 class="card-subtitle">
                                {{ noticia.subtitulo }}
                            </h2>
                            <p class="card-text">{{ noticia.texto }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pager.haveToPaginate is defined and not pager is empty %}
        {{ pagerfanta(pager, 'pagerfanta_template', {proximity:1} ) }}
    {% endif %}

{% endblock %}