{% extends 'AppBundle::generalLayout.html.twig' %}

{% block title %}{{ seccion }}{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 50px">
    <h1>{{ seccion }}</h1>
    </div>
    {% for noticia in noticias %}

        <div class="container" style="margin-bottom: 50px">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h1 class="card-title">{{ noticia.titulo }}
                            </h1>
                            <h3 class="card-subtitle">
                                {{ noticia.subtitulo }}
                            </h3>
                            <p class="card-text">{{ noticia.texto }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pager.haveToPaginate is defined and not pager is empty %}
        <div class="container">
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
                        {% for item in pager.currentPageResults %}
                            <ul>
                                <li>{{ item.id }}</li>
                            </ul>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}



{% endblock %}