
{% for blockNew in blockNews %}
    <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="images/4.jpg" class="img-responsive" />
        <h2>{{ blockNew.getTitulo }}</h2>
        <p class="text-muted">{{ blockNew.getSubtitulo() }}</p>
        <p>{{ blockNew.getTexto()  }}
        </p>
    </div>
{% endfor %}