{% for blockNew in blockNews %}
    {#{% if blocKnews|length > 5 %}#}
    {#{{ dump (loop) }}#}
    {#{{ loop.index }}#}
    {#{{ loop.index0 }}#}
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="images/4.jpg" class="img-responsive" />
        <h2>{{ blockNew.getTitulo }}</h2>
        <p class="text-muted">{{ blockNew.getSubtitulo() }}</p>
        <p>{{ blockNew.getTexto()  }}
        </p>
    </div>
    {#{% endif %}#}
{% endfor %}